
      fieldset{
        width: 43%;
        background: rgb(184,24,238);
background: linear-gradient(27deg, rgba(184,24,238,1) 0%, rgba(230,163,217,1) 100%);
        box-shadow: 2px 2px 2px black;
        border: none;
        font-family:arial,'Courier New', Courier, monospace;
      }
      input,select,textarea{
        border-radius: 50px;
        border: solid 1px;
      }
      #idBtSubmit{
        width: 40%;
        margin-left: 30%;
        height:30px;
        background-color:rgb(214, 85, 214);
      }
      output{
        border: 1px solid black;
        background-color:white;
      }
    